bm ()
{
	if [ "$1" == "" ]
	then
		echo nothing to do
		return 0
	fi

	if [ "$1" == "-n" ]
	then
		# create new bookmark
		if [ "$2" == "" ]
		then
			echo nothing to do...
			return 0
		fi
		_BM_=$(/bin/grep "$2=" $HOME/.bookmarks)
		if [ "$_BM_" == "" ]
		then
			echo bookmark \'$2\' created as $(pwd)
			echo ${2}=$(pwd) >> $HOME/.bookmarks
		else
			echo bookmark \'$2\' already exists
		fi
		return 0
	fi

	if [ "$1" == "-d" ]
	then
		# remove bookmark
		if [ "$2" == "" ]
		then
			echo nothing to do...
			return 0
		fi
		echo bookmarks matching \'$2\' deleted
		sed -i /$2=/d $HOME/.bookmarks
		return 0
	fi

	if [ "$1" == "-l" ]
	then
		# list
		cat $HOME/.bookmarks
		return 0
	fi

	echo goto bookmark \'$1\'
	_BM_=$(/bin/grep "$1=" $HOME/.bookmarks | /bin/sed -r "s/$1=(.*)\$/\1/") 
	if [ "$_BM_" == "" ]
	then
		echo bookmark broken: either bookmark does not exist or has no directory
		return 0
	fi
	if [ ! -d $_BM_ ]
	then
		echo bookmark broken: directory does not exist
		return 0
	fi
	cd $_BM_
	return 0
}

envupdate ()
{
	cd $HOME/Projects/bashrc
	git pull origin master
	cp dotfiles/.bashrc $HOME/
	cp dotfiles/.functions $HOME/
	cp dotfiles/.shortcuts $HOME/
	cp dotfiles/.inputrc $HOME/
	cp dotfiles/.vimrc $HOME/
	cp habitat/habitat.sh $HOME/local/bin/habitat
	if [ ! -d $HOME/.vim/colors ]
	then
		mkdir -p $HOME/.vim/colors/
	fi
	cp dotfiles/nocturn.vim $HOME/.vim/colors/nocturn.vim
	source $HOME/.bashrc
	cp utility/rm.sh $HOME/local/bin
	cd -
	echo environment updated
}

export bm
export envupdate
